<h4>Displaying {{count}} records</h4>
<table>
    <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Module</th>
            <th>Defined at</th>
            <th>Invoked at</th>
        </tr>
    </thead>
    <tbody>
        {%for record in records %}
            <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                <td>{{ record.class_name }}</td>
                <td>{{ record.value }}</td>
                <th>{{record.module_name}}</th>
                <td>{{record.source_file}}</td>
                <td><b>{{ record.invoked.file }}</b> @ line <b>{{ record.invoked.line }}</b> inside <b>{{ record.invoked.function }}</b> view</td>
            </tr>
            {{record.dir}}
        {% endfor %}
    </tbody>
</table>
